@import "./variables";
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  @include flexCenter();
  height: 20vh;
  background: rgb(226, 10, 129);
  color: $textColor;
  button {
    background: $primaryBtn;
    &:hover {
      background: blue;
    }
  }
}
